**/.DS_Store
.python-version
.venv/
.ruff_cache/
artifacts/
**/__pycache__/
**/.ipynb_checkpoints/
**/.idea/
**/.fleet/
**/.vscode/
**/.pytest_cache
tests/
pyproject.toml
poetry.lock
README.md
test_job.ipynb
files/
logs/
notebooks/
configs/
**.parquet
**.csv