**/.DS_Store
.python-version
.venv/
.ruff_cache/
artifacts/
configs/
files/
logs/
notebooks/
**/__pycache__/
**/.ipynb_checkpoints/
**/.idea/
**/.fleet/
**/.vscode/
**/.pytest_cache
tests/logs
**.parquet
**.csv
dist/
test_job.ipynb